# Terraform state — never commit
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Real variable values — never commit
terraform.tfvars

# Service account keys — never commit
*.json
../keys/

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#Environment variables
.env

# folders

